/* css reset  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* utility css  */
:root {
    .bgc-blue {
        background-color: #0d3a64;
    }

    .bgc-green {
        background-color: #157347;
    }

    .bgc-red {
        background-color: #d85057;
    }
}

.flex {
    display: flex;

}

#primary-nav {
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;
    max-width: 1800px;
    margin: 0 auto;
}



.input input {
    /* background-color: red; */
    width: 470px;
    height: 48px;
    /* border-radius: 7px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    outline: none;
    padding-left: 1rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /* box-shadow: rgba(196, 196, 219, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

::placeholder {
    padding-left: 1rem;
}

.search-icon {
    width: 70px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.search-icon i {
    color: white;
}

.box-login {
    /* border: 2px solid rgb(46, 46, 6); */
    display: flex;
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
}


.sell {
    background-color: #0d3a64;
    padding: 0.3rem 2rem;
    border-radius: 1.4rem;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.sign {
    color: #0d3a64;
    background-color: white;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: 1px solid rgba(13, 58, 100, 1);
    /* font-weight: bold; */
}

.sign i {
    color: #0d3a64
}

.secondary-nav {
    justify-content: center;
    gap: 4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 02px 1px 0px;
    list-style-type: none;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    max-width: 1800px;
    margin: 0 auto;

}

.secondary-nav select {
    border: none;
    cursor: pointer;
}

.navigation {
    /* border:2px solid red; */
    padding-left: 9rem;
    max-width: 1800px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    margin-top: 0.8rem;

}

.list a {
    margin-right: 0.6rem;
    text-decoration: none;
}

.banner {
    /* border:1px solid red; */
    padding: 2rem 9rem;
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
}

.banner a {
    /* border:1px solid red; */
    display: inline-block;
    position: absolute;
    right: 9rem;
}

.hero-banner {
    /* border:1px solid red; */
    max-width: 1800px;
    margin: 0 9rem;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 02px 1px 0px;
    padding: 1rem;
}

.hero-banner select {
    /* border:1px solid red; */
    display: block;
    width: 20rem;

}

/* hero box css  */

.text {
    text-align: center;
    padding: 0.5rem;
}

.icon {
    /* border:1px solid blue; */
    display: flex;
    gap: 0.3rem;
    justify-content: center;
}

.card {
    border: 2px solid red;
    width: 350px;
    height: 339px;
}

.card-btn {
    background-color: #0d3a64;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 0.4rem 0rem;
    border: none;
}

.card-btn:hover {
    background-color: #d85057;
    transition: 0.5s ease-out;
}

.hero-box {
    /* border: 2px solid red; */
    flex-wrap: wrap;
    gap: 0.7rem;
    justify-content: center;
    max-width: 1800px;
    margin: 0 auto;
}

.hero-btn {
    display: block;
    margin: 2rem auto;
    width: 10rem;
    padding: 0.4rem;
    color: #d85057;
    font-weight: bold;
    border: none;
    outline: 1px solid #d85057;
    border-radius: 2px;

}

.hero-btn:hover {
    background-color: #d85057;
    color: white;
    transition: 0.3s ease-in;
}


.series {
    /* border:2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2rem 7rem;

}

.box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border:1px solid blue; */
    padding: 0.5rem;
    border-radius: 7px;
    margin: 0.7rem;
}

.brand {
    /* border:2px solid blue; */
    padding: 2rem 8rem;
}

.brand h4 {
    margin: 1rem;
}

.brand-name {
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 140px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.brand-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.brand-btn {
    display: block;
    margin: 2rem auto;
    width: 13rem;
    padding: 0.4rem;
    color: #d85057;
    font-weight: bold;
    border: none;
    outline: 1px solid #d85057;
    border-radius: 2px;
}

.brand-btn:hover {
    background-color: #d85057;
    color: white;
    transition: 0.3s ease-in;
}

.address {
    /* border:2px solid red; */
    padding: 1rem 8rem;
    max-width: 1800px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
}

.name a {
    /* border:2px solid red; */
    margin: 0.3rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.name a:hover {
    text-decoration: underline;
    color: #0d3a64;
}

.address-box {
    /* border:2px solid red; */
    width: 346px;
    height: 150px;
    line-height: 0.9rem;
    text-align: left;
    padding: 01rem;
    line-height: 1rem;
    font-size: 0.9rem;
    margin: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f6f6ff;

}

.address-btn {
    display: block;
    margin: 2rem auto;
    width: 13rem;
    padding: 0.4rem;
    color: #d85057;
    font-weight: bold;
    border: none;
    outline: 1px solid #d85057;
    border-radius: 2px;
}

.address-btn:hover {
    background-color: #d85057;
    color: white;
    transition: 0.3s ease-in;
}

.ask {
    /* border:1px solid blue; */
    padding: 1rem 8rem;
    margin: 0 auto;
    max-width: 1800px;
    background-color: rgb(245, 245, 245);
}

.questions,.ans {
    /* border:2px solid red; */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 500;
    margin: 0.9rem;
    background-color: white;
    cursor: pointer;
}

.ask-btn {
    display: block;
    margin: 2rem auto;
    width: 13rem;
    padding: 0.4rem;
    color: #d85057;
    font-weight: bold;
    border: none;
    outline: 1px solid #d85057;
    border-radius: 2px;
}

.ask-btn:hover {
    background-color: #d85057;
    color: white;
    transition: 0.3s ease-in;
}


.footer-banner {
    background-color: rgb(13, 59, 102);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
}

.details {
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    background-color: rgb(13, 59, 102);
    color: white;
    max-width: 1800px;
    margin: 0 auto;
    padding: 1rem 8rem;
}

.first {
    /* border: 1px solid red; */
    width: 271px;
    height: 271px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first ul {
    list-style-type: none;
    line-height: 2rem;
    cursor: pointer;
}

.first ul li:hover {
    color: #d85057;
    transition: 0.3s ease;
}

.borde {
    height: 0.8px;
    width: 100%;
    background-color: rgba(93, 91, 91, 0.2);
}

.last-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 59, 102);
    max-width: 1800px;
    margin: 0 auto;
    padding: 1rem 8rem;
    color: white;
}
.last-banner ul{
    list-style-type: none;
    cursor: pointer;
}
.last-banner ul li{
        margin: 0.8rem;
}
.last-banner ul li:hover{
    text-decoration: underline;
    transition: 0.4s ease;
}